{% extends "base.html" %}
{% block title %}
	{{ block.super }} – Задать вопрос
{% endblock %}
{% block content %}
{% for e in form.non_field_errors %}
	<div class="alert alert-danger">{{ e }}</div>
{% endfor %}
<form class="form-horizontal" method="post" action="/ask/">
	{% csrf_token %}
	<fieldset>
		{% for field in form %}
			<div class="control-group {% if field.errors %}has-error{% endif %}">
				<label class="control-label">{{ field.label }}</label>
				<div class="controls">{{ field }}</div>
			</div>
		{% endfor %}
	</fieldset>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Отправить</button>
	</div>
</form> 
{% endblock %}