{% extends "base.html" %}
{% block title %}
	{{ block.super }} - Популярные вопросы
{% endblock %}
{% block content %}
	<H1>Популярные вопросы</H1>
	{% for question in questions %}
	<div class="question">
		<a href="{{ question.get_absolute_url }}">{{ question }}</a>
	</div>
	{% endfor %}
	{% include "pagination.html" %}
{% endblock %}