{% extends "base.html" %}
{% block title %}
	{{ block.super }} – главная
{% endblock %}
{% block content %}
	<h1>{{ question.title }}</h1>
	<p class="content">{{ question.text }}</p>
	<h3>Ответы</h3>
	{% for answer in answers %}
	<p class="answer">{{ answer.text }}</p>
	{% endfor %}
	{% include "form_answer.html" %}
{% endblock %}